# Copy this file to .env and fill in your API keys

# =============================================================================
# LLM API Keys
# =============================================================================

MAIN_MODEL = claude-sonnet-4
FALLBACK_MODEL_1 = glm-4p5
LLM_BASE_URL = http://litellm:4000/
LLM_API_KEY = sk-1234


# =============================================================================
# Application Configuration
# =============================================================================

# Port for the main web application
APP_PORT=8000

